body{
	background-color: #DCC7C7;
}
 
.list_1{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 14pt;
}

.header{
	margin-bottom: 60px;
}

h1{
	font-size: 36pt;
	margin: 15px;
}

.thumbnail{
	font-weight: bold;
	float: left;
	margin: 0 10px 0 80px;
}

.underline{
	text-decoration: underline;
	float: left;	
	margin: 0 0 10px 0;
}

.lin{
	margin: 35px 0 0 82px;
}

.ball{
	font-size: 10pt;
	margin: 0 0 0 118px;
}

.commission{
	float: left;
}

.position{
	font-weight: bold;
	margin: 0 10px 0 80px;
}

.full_name{
	margin: 0 10px 0 90px;
}

.line{
	margin: -4px 0 0 80px;
	border-bottom: 1px solid #000;
	width: 220px;
}

.sign{
	font-size: 8pt;
	margin: 0 10px 0 90px;
}

.sub{
	float: left;
	border-bottom: 1px solid #000;
	margin: 0 0 0 80px;
	width: 100px;
}

.date{
	border-bottom: 1px solid #000;
	margin: 0 0 0 200px;
	width: 100px;
}

.sub_text{
	float: left;
	font-size: 8pt;
	margin: 0 10px 0 108px;
}

.date_text{
	font-size: 8pt;
	margin: 0 10px 0 235px;
}

.instructor{
	float: left;
	margin-left: 50px;
}

.student{
	float: left;
	margin-left: 50px;
}

.normocontroller{
	float: left;
}

.year{
	float: left;
	margin-left: 70px;
	margin-top: 300px;
}

.headline{
	font-weight: bold;
	font-size: 14pt;
}

.list_of_references{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 14pt;
}

.content{
	margin-left: 90px;
	margin-top: 10px;
}

.list_work{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 14pt;
}

.text1{
	float: left;
}

.KR{
	font-size: 10pt;
	margin: 0 0 0 170px;
}

.image{
	float: left;
	width: 80px;
	height: 80px;
	margin-left: 100px;
}

.forma{
	font-size: 10pt;
	margin: 0 0 0 160px;
}

.fmi{
	font-size: 10pt;
	margin-left: 120px;
	margin-top: 0px;
}

.faculty{
	float: left;
	margin: 0 10px 0 80px;
}

.subject{
	text-decoration: underline;	
	margin: 0 0 10px 0;
}

.departament{
	float: right;
	margin-right: 110px;
	margin-top: -40px;
}

.statement{
	font-weight: bold;
	margin-bottom: -20px;
}

.mission{
	font-size: 18pt;
	font-weight: bold;
	margin-bottom: -20px;
}

.fio{
	font-size: 10pt;
	margin-top: -15px;
}

.lines{
	margin-top: -34px;
	margin-left: 477px;
}

.srok{
	margin: 0 10px 10px 80px;
}

.diagram{
	text-decoration: underline;	
	margin: 0 10px 0 80px;
}

.list_graph{
	width: 210mm;   
    height: 297mm;
    padding: 15mm 15mm 15mm 25mm; 
    margin: 50px auto;  
    box-shadow: 10px 10px 20px black; 
    background-color: white;  
    font-family:  "Times New Roman";
    font-size: 14pt;
}

.border{
	font-weight: bold;
	margin: -10px 10px 10px 80px;
}

.training{
	margin-top: -15px;
}

table {
    border-collapse: collapse;
    margin: 0 10px 0 80px;
}

table td {
    padding: 0 5px;
    border: 1px solid #000;
    text-align: left;
}

.fac{
	float: left;
	margin: 0 10px 0 80px;
}

.name{
	margin: -22px 0 0 520px;
}

.l{
  	margin: 0 0 0 350px;
}

.facul{
	margin: -22px 0 0 477px;
}

.pod{
	font-size: 8pt;
	margin: 0 0 0 380px;
}

.f{
	font-size: 8pt;
	margin: -10px 0 0 520px;
}